<div class="notification-transparent-background" [ngClass]="notificationBackgroundClass"
     (click)="toggleNotificationBody()"></div>

<nav class="navbar navbar-default whiteBackground">
  <div class="container-fluid" style="padding-bottom:14px;padding-top:12px">
    <div class="navbar-header">
      <img class="logoIcon" src="assets/Images/logo.png"/>
    </div>

    <ul class="nav navbar-nav">
      <li class="ListItem"><a href="./">Home </a></li>
      <li class="ListItem"><a href="http://www.gulfengg.com/Pages/AboutUs.aspx">About Us </a></li>
    </ul>

    <div class="RightPart" *ngIf="authenticationService.isLoggedIn()">
      <img class="Avatar" src="assets/Images/user.png"/>
      <div class="notification-section">
        <button class="notification-btn" [ngClass]="toggelingNotificationIconClass" (click)="toggleNotificationBody()">
          <i class="fa fa-bell-o bell"></i><i
          class="fa fa-circle dot" [hidden]="!newNotificationToggle"></i></button>
        <div [hidden]="!toggleNotification" class="notification-body uk-padding-small uk-animation-slide-top-small">
          <div *ngFor="let notification of notifications" (click)="routeToNotification(notification)">

            <p class="notification uk-padding-small uk-margin-remove
"
               *ngIf="notification.type == 'quotation'"><i class="fa fa-usd"></i>New Quotation created! <br>
              reference Number :
              <strong>({{notification?.refNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" *ngIf="notification.type == 'call'"><i
              class="fa fa-phone"></i> New Call created! <br>
              Caller Number :
              <strong>({{notification?.callerNumber}})</strong></p>

            <p class="notification uk-padding-small uk-margin-remove" [hidden]="notification.type != 'order'"><i
              class="fa fa fa-briefcase"></i> New/Updated Order !<br> code :
              <strong>({{notification?.code}})</strong></p>

          </div>
          <p [hidden]="notifications.length">No notifications available</p>
        </div>
      </div>

      <div class="AfterLogin">
        <span class="nameLogged">Welcome , {{authenticationService.CurrentUser().userName}} </span>
        <br/>
        <span class="LogOut"><u (click)="LogoutAll()">Log Out</u></span>
      </div>
    </div>

  </div>
</nav>
