@import "../../../assets/stylesheets/color-theme";

.estimation-table-container {
  .save-totalPrice-section {
    margin-top: 35px;

    .totalPrice {
      cursor: default !important;
      font-size: 2em;
      font-weight: bold;
      color: $mainColor;
      height: 50px;
    }
    button {
      height: 50px;
      width: 100%;
    }
  }
}
