/* line 4, admin-upload-resources.component.scss */
.admin-upload-resources .salary, .admin-upload-resources .item {
  background-color: #f0f0f0;
  padding: 15px;
  box-sizing: content-box;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0;
  transition: 0.5s all;
}
/* line 12, admin-upload-resources.component.scss */
.admin-upload-resources .salary:hover, .admin-upload-resources .item:hover {
  transition: 0.5s all;
  border: 1px solid rgba(18, 120, 255, 0.91);
}
/* line 17, admin-upload-resources.component.scss */
.admin-upload-resources .salary {
  margin-bottom: 35px;
}
