<pre>{{data | json}}</pre>

<form>
  <div class="form-group">
    <label>Contract type :</label>
    <select>
      <option [value]="undefined" [selected]="true" *ngIf="!newContract?.fK_ContractType_Id">--select contract type--
      </option>
      <option *ngFor="let type of contractTypes" [value]="type.id">{{type.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Contract price</label>
  </div>
</form>
